/* transition: all 1.25s cubic-bezier(.19,1,.22,1); */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  background: #FFF;
}

img {
  max-width: 100%;
  height: auto;
}

.trocar-capa-temporario {
  background: #fe3843;
  padding: 7px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
  right: 100px;
  top: 40px;
  position: absolute;
  z-index: 2;
}

.footer {
  margin: 0 auto;
  padding: 30px 0 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #333;
}

.footer a {
  color: #FFF;
  text-decoration: none;
}

.footer span {
  color: #e74c3c;
}
/* Estilos para Capa */
.capa-container {
  position: relative;
  text-align: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.capa-container::before, .capa-container2::before, .capa-container3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(20%);
  background-position: 0px -180px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 100%; */
  height: 440px;
  z-index: -1;

  /* Aqui, viramos (flip) a imagem */
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.capa-container::before {
  background-image: url(https://images.pexels.com/photos/203237/pexels-photo-203237.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.capa-container2::before {
  background-image: url(https://images.pexels.com/photos/247839/pexels-photo-247839.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.capa-container3::before {
  background-position: 0px -50px;
  background-image: url(https://images.pexels.com/photos/121734/pexels-photo-121734.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.capa h1, .capa span {
  color: #FFF;
  font-weight: 900;
  height: 100%;
  margin: 30px 0 10px;
  width: 300px;
  text-align: initial;
  font-size: 60px;
  text-shadow: 0 3px 3px rgba(0,0,0,.4);
}

.capa span {
  background: #fe3843;
  padding: 7px;
}
/* Final dos estilos para capa */

/* Estilos compartilhados */
.conteudo {
  padding: 50px;
}

.bradius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* Final dos estilos compartilhados */


/* Estilos para aulas */
.aulas-container { }

.aulas-cabecalho, .aulas {
  display: flex;
}

.aulas-cabecalho {
  justify-content: space-between;
}

.aulas h1, .aulas span { }

.pesquisa-container {
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.pesquisa {
  width: 300px;
  height: 50px;
  border: 1px solid #d9d9d9;
  font-size: 10pt;
  float: left;
  color: #333;
  padding-left: 15px;
  -webkit-appearance: none;
  outline: none;
}

.pesquisa::-webkit-input-placeholder { color: #65737e; }
.pesquisa:-moz-placeholder { color: #65737e; }  /* Firefox 18- */
.pesquisa::-moz-placeholder { color: #65737e; } /* Firefox 19+ */
.pesquisa:-ms-input-placeholder { color: #65737e; }

/* Tira aquele amarelo do fundo da caixa em respostas antigas */
.pesquisa:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; }

button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: 1px solid #d9d9d9;
  height: 50px;
  width: 50px;
  color: #FFF;
  background: #562d54;
  opacity: 1;
  font-size: 10pt;
  margin-left: -50px;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

input[type="search"]::-webkit-search-cancel-button {
  margin-right: 10px;
}

.pesquisa-container:hover button.icon, .pesquisa-container:active button.icon, .pesquisa-container:focus button.icon{
  outline: none;
  opacity: 0;
  margin-left: 50px;
}

.aulas {
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.aula-container {
  background: #FFF;
  border: 1px solid #d9d9d9;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.aula-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  max-width: 250px;
  margin-bottom: 10px;
}

.aula-container::before {
  content: "";
  width: 4px;
  position: absolute;
  top: 25px;
  left: -2px;
  height: 35px;
  background: #fe3843;
}

.aula-container h2 {
  display: inline;
}

.aula-container img {
  width: 50px;
  display: inline;
  top: 0;
  right: 0;
}

.aula-container p:last-child {
  margin-top: 10px;
  color: #c9c9c9;
}
/* Final dos estilos para aulas */

/* Estilos para em-breve */
.em-breve {
  background: #FFF;
  padding-top: 10px;
}

.em-breve-container {
  padding: 20px;
  border: 1px solid #d9d9d9;
  position: relative;
  max-height: 185px;
  display: flex;
  justify-content: flex-end;
}

.em-breve-container div:first-child {
  /* "Hack" para alinhar somente um item dentro de um container flex */
  margin-right: auto;
}

.em-breve-links {
  margin-top: 20px;
}

.em-breve-alerta {
  font-size: 55px;
  font-weight: bold;
}
/* Final dos estilos para em-breve */
